.input label{
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  color:  hsl(213, 96%, 18%);
}
input{
  padding: 15px 10px ;
  border-radius: 8px;
  width: 100%;
  border: 1px solid hsl(229, 24%, 87%);
  outline: none;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  letter-spacing: 1px;
}
input::placeholder{
  color:  hsl(231, 11%, 63%);
}

input:focus{
  border-color:hsl(213, 96%, 18%); ;
}